<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/materialize.min.css" media="screen,projection"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
    <ul class="collection">
        <li class="collection-item">
            <span class="title">Title</span>

            <p>First Line <br>
                Second Line
            </p>
            <a href="#!" class="secondary-content"></a>
        </li>
    </ul>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/materialize.min.js"></script>
</body>
</html>
